extends layout

block content
    h3 #{title}
    br
    br
    - for ( var i in submissions )
        - var sub = submissions[i]
            | #{sub.id}. <a href='/submissions/#{sub.id}'>#{sub.title}</a> - #{sub.submitter} - #{sub.time}
            br
            br
            | #{sub.summary}
        br
        br
        br


