extends layout

block content
    h1 #{title}
    | we have #{submission_count} posts
    |   -  
    a(href='/submit') submit
    br
    br
    - for ( var i in submissions )
        - var sub = submissions[i]
        div
            a(href='/submissions/#{i}') #{sub.title}
            |   -  #{sub.submitter}
        | #{sub.summary}
        br
        br


