extends layout

block content
    h3 #{title}
    br
    br
    - for ( var i in submissions )
        - var sub = submissions[i]
            | <b><a href='/submissions/#{sub.id}'>#{sub.title}</a></b> &nbsp - &nbsp #{sub.submitter} &nbsp - &nbsp #{sub.time}
            br
            br
            | &nbsp &nbsp &nbsp &nbsp #{sub.summary}
        br
        br
        br


