extends layout

block content
    h1 #{subtitle}
    | <b>Submitted by:</b>  #{submitter}
    | <b>Date:</b>  #{date}
    br
    br
    b Summary
    br
    | #{summary}
    br
    br
    b Files
    br
    br
    b Body
    br
    | #{body}
    br


