extends layout

block content
    u: h3 #{subtitle}
    | <b>Submitted by:</b>  #{submitter}
    | <b>Date:</b>  #{date}
    br
    br
    b Summary
    br
    | #{summary}
    br
    br
    b Files
    br
    - for ( var i in files )
        - var f = files[i]
        a(href='/#{f.path}') #{f.name}
        br
    br
    br
    b Body
    br
    | #{body}
    br
    br
    a(href='/delete/#{pid}') Delete this post


