extends layout

block content

    h3 Submit to #{group}
    
    br

    form(enctype='multipart/form-data', method = 'post')

        p Title
        textarea(name='title', rows='1', cols='80') #{post_title}

        p Submitter
        textarea(name='submitter', rows='1', cols='40') #{submitter}

        p Summary
        textarea(name='summary', rows='4', cols='80') #{summary}

        p Files
        input(type='file', name='file1', size='40')
        input(type='file', name='file2', size='40')
        input(type='file', name='file3', size='40')
        br
        input(type='file', name='file4', size='40')
        input(type='file', name='file5', size='40')
        input(type='file', name='file6', size='40')

        p Body
        textarea(name='submitarea', rows='20', cols='80', placeholder='#{body_placeholder}' ) #{body}
        br

        input(type='submit', name='submitbtn', value='Submit', formaction='#{action}').submit-button


